fastapi
uvicorn[standard]
sqlalchemy>=1.4
psycopg2-binary
python-dotenv
pydantic<2
alembic
faker
email-validator
passlib[bcrypt]
python-jose[cryptography]
python-multipart
cloudinary
pytest
pytest-asyncio
pytest-cov
httpx==0.23.3
redis>=4.5.0
itsdangerous
sphinx
sphinx-autodoc-typehints
asgi-lifespan
